<section class="wrapper">
    <div class="template-detail relative">
        <div class="image-template">
            <img src="images/template/index.jpg" alt="" title="">
        </div>
        <a href="" class="prev" title="Giao diện trước"></a>
        <a href="" class="next" title="Giao diện sau"></a>
    </div>
    <div class="template-nav">
        <div class="fixed-menu">
            <a href="" title="">Tất cả</a>
            <a href="" title="">1 Gotrangtri.vn - Giao dien trang chu</a>
            <a href="" title="">2 Đăng ký</a>
            <a href="" title="">3 Thông báo đăng ký xong</a>
            <a href="" title="">4 Đăng nhập</a>
            <a href="" title="">5 Khách hàng-  Thông tin tài khoản menu</a>
            <a href="" title="">6 Khách hàng - Bắt đầu chiến dịch - Chia sẻ - Hỏi đáp</a>
            <a href="" title="">8 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">9 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">10 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">11 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
        </div>
    </div>
</section>