 <!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <!-- <div class="btn-group pull-right m-t-15">
            <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div> -->
        <h4 class="page-title" style="text-align: center;">Cập nhật giao diện</h4>
    </div>
</div>


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card-box">
            <!-- <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div> -->

            <!-- <h4 class="header-title m-t-0 m-b-30">Basic Form</h4> -->

            <form action="#" method="" data-parsley-validate novalidate>
                <div class="form-group">
                    <label for="">Ảnh</label>
                    <input type="file" name="" value="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="userName">Tên*</label>
                    <input type="text" name="name" parsley-trigger="change" required
                           placeholder="Nhập tên" class="form-control" value="" id="">
                </div>
                <div class="form-group">
                    <label for="">Đường dẫn</label>
                    <input type="text" name="alias" value="" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Chọn dự án</label>
                    <select name="category_project" class="form-control">
                        <option value="">--Chọn dự án--</option>
                        <option value="">Dự án 1</option>
                        <option value="">Dự án 2</option>
                        <option value="">Dự án 3</option>
                       
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Số thứ tự</label>
                    <input type="number" name="stt" placeholder="" class="form-control" style="width: 100px" value="" id="">
                </div>
                <div class="form-group text-right m-b-0">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                        Cập nhật
                    </button>
                    <button type="reset" class="btn btn-default waves-effect waves-light m-l-5">
                        Cancel
                    </button>
                </div>

            </form>
        </div>
    </div><!-- end col -->
    <div class="col-lg-3"></div>
    
</div>
<!-- end row -->